* {
  box-sizing: border-box;
}

.bio {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 15px;
  max-width: 800px;
}

.about {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bio-p {
  margin-top: 10px;
}

.image {
  height: 180px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
  position: relative;
  margin-top: -20px;
}

.squirrel {
  width: 25px;
  float: right;
  position: relative;
  margin-right: 470px;
  margin-top: -3px;

}
