* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  background-color: lightblue;
  background-image: url("https://user-images.githubusercontent.com/29738609/40740580-0f2b318e-63fe-11e8-8202-e78c49e8845e.JPG");
  height: 360px;
  padding: 20px;
  color: black;
  text-align: right;
}

.image {
  background-color: lightgray;
  height: 200px;
  border-radius: 50%;
  float: right;
  margin-bottom: 10px;
  margin-right: -10px;
}

.App-title {
  margin-top: 215px;
  font-size: 24px;
  margin-bottom: 5px;
}

.intro {
  float: right;
}

.App-intro {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
  width: 400px;
  display: block;
  font-weight: bolder;
}

.App-coffee {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
  width: 400px;
  display: block;
  text-align: right;
  font-weight: bolder;
}

footer {
  height: 100px;
}

